<!DOCTYPE html>
  <head>
    <%= stylesheet_link_tag "users.css", :media => "all" %>
  </head>
  <body>
    <div class="profile">
      <div class="container">
        <div class="profile-avatar">
          <% if @user.persisted? && @user.avatar? %>
            <%= image_tag @user.avatar.to_s %>
          <% else %>
            <%= image_tag "/icon.jpg" %>
          <% end %>
        </div>
        <div class="profile-text">
          <h3><%= @user.name %></h3>
        </div>
      </div>
    </div>
  </body>
</html>
