<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "users.css", :media => "all" %>
  </head>
  <body>
    <div class="profile">
      <div class="container">
        <div class="profile-avatar">
          <%= image_tag current_user.avatar.to_s %>
        </div>
        <div class="profile-text">
          <h3><%= current_user.name %></h3>
        </div>
      </div>
    </div>
  </body>
</html>
