html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body{
  background-color: #F5F5F5;
  height: auto;
  width: auto;
}

.profile-avatar img {
  margin-top: 110px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: white;
  object-fit: cover;
}

.profile-text{
  margin-top: 30px;
}
